
@{
    ViewData["Title"] = "FAQ";
}

<header class="img_header">
    <div class="container h-100">
        <h1 class="text-uppercase text-white font-weight-bold">FAQ</h1>
        <br />
    </div>
</header>

<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">

                <h2 class="text-white mt-0">Consulte suas dúvidas aqui</h2>
                <hr class="divider light my-xl-5">

                <h3 class="text-white mt-0">O que é a GGLP?</h3>
                <hr class="divider light my-4">
                <p class="text-white-100 mb-4">

                    GGLP é uma aplicação web que faz a gerência de pessoas em determinados pontos de interesses com objetivo de evitar aglomerações na cidade da Guarda face a situação pandémicas de covid-19 que se vive atual.

                </p>

                <h3 class="text-white mt-0">Para que serve a GGLP?</h3>
                <hr class="divider light my-4">
                <p class="text-white-100 mb-4">

                    A GGLP auxilia as pessoas a saber os números de indivíduos num determinado ponto de interesse em tempo real.

                </p>

                <h3 class="text-white mt-0"> Qual o limite de pessoas num determinado ponto de interesse?</h3>
                <hr class="divider light my-4">
                <p class="text-white-100 mb-4">

                    Face a atual situação pandémica, o limite de pessoas num ponto de interesse é de 50%.

                </p>


                <h3 class="text-white mt-0"> Como saber se um ponto de interesse atingiu o limite de pessoas?</h3>
                <hr class="divider light my-4">
                <p class="text-white-100 mb-4">

                    Para saber se um ponto de interesse atingiu seu limite, basta clicar no ponto de interesse que estará o número de pessoas em tempo real naquele ponto de interesse.


                </p>


                <h3 class="text-white mt-0">A GGLP respeita a privacidade do seu público?</h3>
                <hr class="divider light my-4">
                <p class="text-white-100 mb-4">

                    Sim, os dados das pessoas serão todos anónimos uma vez que o objetivo do site é a obtenção de números de pessoas num determinado ponto de interesse.


                </p>
            </div>
        </div>
    </div>


  
</section>



