@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <div class="col-lg-10 align-self-end">
        <div class="add_space">
            <h1 class="text-uppercase text-white font-weight-bold">Seja bem-vindo a GGLP    </h1>
            <hr class="divider my-4" />
            <p class="text-white-75 font-weight-light mb-5">Gestão Geográfica De Lotação Populacional</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Descubra Mais</a>
        </div>
    </div>
</div>
</div>
