
@{
    ViewData["Title"] = "PontoSucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<meta http-equiv="refresh" content="2; url=@Url.Action("Index", "PontoDeInteresse")" />

<style>
    body {
        background-color: aliceblue;
    }
</style>

<br />
<br />
<br />
<br />
<br />
<section class="container h-100" style="width:600px">

    <div class="text-center">

        <img src="~/assets/img/ic3.png" width="200" height="200" alt="">
        <br />
        <br />
        <h2 class="text-center mt-0" style="color:forestgreen">SUCESSO</h2>
        <h2 class="text-center mt-0" style="color:forestgreen">Novo Ponto de Interesse Adicionado</h2>
        <br />
        <p>A redirecionar para a lista de Pontos de Interesse...</p>


    </div>
</section>