@{
    ViewData["Title"] = "Sobre";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}


<header class="img_header">
    <div class="container h-100">
        <h1 class="text-uppercase text-white font-weight-bold">Sobre</h1>
        <br />
    </div>
</header>
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Gestão Geográfica de Lotação Populacional</h2>
                <h3 class="text-white mt-0">(GGLP)</h3>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">
                    O presente projecto apresenta-se como trabalho da disciplina de
                    Engenharia de Software II e Programação para Internet durante o ano lectivo 2020-2021, na Escola
                    Superior de Tecnologia e Gestão do Instituto Politécnico da Guarda.
                </p>
                <p class="text-white-50 mb-4">
                    Após compreensão das temáticas relacionadas com o
                    objectivo fornecido pela Professora Maria Clara Silveira, sendo o mesmo ‘Guarda candidata à Capital Europeia
                    da Cultura 2027’ e, tendo em conta o estado crítico não só do país mas do mundo todo devido à pandemia
                    (COVID-19), após algumas reuniões (BrainStorming) entre a equipa formada para este projecto (Grupo 5)
                    chegou-se a um resultado que se define o tema deste projecto de uma
                    maneira a que se acredita ser benéfico para a respectiva sociedade realizando uma ação que ajudará a prevenir
                    o contágio.
                </p>
                <p class="text-white-50 mb-4">
                    Tais informações levaram à realização deste projeto de ‘Gestão Geográfica de Lotação
                    Populacional’ onde o principal mecanismo do mesmo será a disponibilização de dados em tempo real relativos
                    ao número de pessoas que se encontram em vários locais geográficos dando assim a possibilidade do
                    indivíduo agendar as suas tarefas sem ser surpreendido com multidões ou grandes grupos de indivíduos num
                    determinado ponto de interesse ao mesmo e num determinado momento.
                </p>
                <br />

                <h3 class="text-white mt-0">Público Alvo</h3>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">
                    Tendo em atenção as informações apresentadas anteriormente como o tema base a ter em atenção,
                    ‘Guarda candidata à Capital Europeia da Cultura 2027’, bem como a situação a decorrer actualmente a um nível
                    mundial relacionada com a pandemia COVID-19, a aplicação a desenvolver terá em conta cada cidadão nacional
                    como internacional.
                </p>
                <br />

                <h3 class="text-white mt-0">Anonimato</h3>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">
                    Para um melhor aceitação pelo público alvo entre outras atenções, têm-se como objectivo que cada
                    ‘perfil’ de cada usuário seja exclusivamente anónimo, onde o principal objectivo da respectiva aplicação, tal
                    como foi referido anteriormente, é a obtenção de números de indivíduos em Pontos de Interesse, não sendo
                    necessário mais nenhuma informação por parte do usuário.
                </p>
                <br />
            </div>
        </div>
    </div>


    <div class="wrapper">
        <h2 class="text-white mt-0">Equipa</h2>
        <h3 class="text-white mt-0">(Grupo 5)</h3>
        <hr class="divider light my-4">
        <div class="our_team">
            <div class="team_member">
                <div class="member_img">
                    <img src="~/assets/img/jc.jpg" alt="our_team">
                    @*<div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>*@
                </div>
                <h3>José Costa</h3>
                <span>R1CH4RD5</span>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>*@
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="~/assets/img/ns.jpg" alt="our_team">
                    @*<div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>*@
                </div>
                <h3>Nuno Serôdio</h3>
                <span>NSerus</span>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>*@
            </div>
            <div class="team_member">
                <div class="member_img">
                    <img src="~/assets/img/ap.jpg" alt="our_team">
                    @*<div class="social_media">
                        <div class="facebook item"><i class="fab fa-facebook-f"></i></div>
                        <div class="twitter item"><i class="fab fa-twitter"></i></div>
                        <div class="instagram item"><i class="fab fa-instagram"></i></div>
                    </div>*@
                </div>
                <h3>Aureo Paquete</h3>
                <span>aureopaquete</span>
                @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione perspiciatis, error deleniti quaerat beatae doloribus incidunt excepturi. Fugit deleniti accusantium neque hic quidem voluptatibus cumque.</p>*@
            </div>
        </div>
    </div>
</section>


