@{
    ViewData["Title"] = "Sobre";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-uppercase text-white font-weight-bold">Sobre</h1>
<br/>
<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Gestão Geográfica de Lotação Populacional</h2>
                <h3 class="text-white mt-0">(GGLP)</h3>
                <hr class="divider light my-4">
                <p class="text-white-50 mb-4">TEST</p>
            </div>
        </div>
    </div>


</section>


