@model EI20_21_ESII_PI_GGLP.Models.Agendamento

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AgendamentoID" />
            <div class="form-group">
                <label asp-for="PessoaID" class="control-label"></label>
                <select asp-for="PessoaID" class="form-control" asp-items="ViewBag.PessoaID"></select>
                <span asp-validation-for="PessoaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PontoDeInteresseID" class="control-label"></label>
                <select asp-for="PontoDeInteresseID" class="form-control" asp-items="ViewBag.PontoDeInteresseID"></select>
                <span asp-validation-for="PontoDeInteresseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AData" class="control-label"></label>
                <input asp-for="AData" class="form-control" />
                <span asp-validation-for="AData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AHoraInicio" class="control-label"></label>
                <input asp-for="AHoraInicio" class="form-control" />
                <span asp-validation-for="AHoraInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AHoraFim" class="control-label"></label>
                <input asp-for="AHoraFim" class="form-control" />
                <span asp-validation-for="AHoraFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ANumPessoas" class="control-label"></label>
                <input asp-for="ANumPessoas" class="form-control" />
                <span asp-validation-for="ANumPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
