@model EditLoggedInPessoaViewModel
@{
    ViewData["Title"] = "Edit Personal Data";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: aliceblue;
    }
</style>

<br />
<br />
<br />
<br />
<br />

<h2 class="text-center mt-0">Editar Dados Pessoais <font style="color:cornflowerblue">@Html.DisplayFor(model => model.PEmail)</font></h2>
<hr />

<br />

<section class="container" style="width:600px">
    @*<div class="row">
        <div class="col-md-4">*@
            <form asp-action="EditPersonalData">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                <div class="form-group">
                    @*@Html.DisplayNameFor(model => model.PEmail)
                    @Html.DisplayFor(model => model.PEmail)*@


                    <br /><br />
                    <br />




                    @*<input type="hidden" asp-for="PessoaID" />*@

                    <label asp-for="PNome" class="control-label"></label>
                    <input asp-for="PNome" class="form-control" />
                    <span asp-validation-for="PNome" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="PContato" class="control-label"></label>
                    <input asp-for="PContato" class="form-control" />
                    <span asp-validation-for="PContato" class="text-danger"></span>

                    <br /><br />
                    <br />

                    @*<div class="form-group">
        <label asp-for="PEmail" class="control-label"></label>
        <input asp-for="PEmail" class="form-control" />
        <span asp-validation-for="PEmail" class="text-danger"></span>
        </div>*@

                    <label asp-for="CTDataNas" class="control-label"></label>
                    <input asp-for="CTDataNas" class="form-control" />
                    <span asp-validation-for="CTDataNas" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="CTNIF" class="control-label"></label>
                    <input asp-for="CTNIF" class="form-control" />
                    <span asp-validation-for="CTNIF" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="CTLocalidade" class="control-label"></label>
                    <input asp-for="CTLocalidade" class="form-control" />
                    <span asp-validation-for="CTLocalidade" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="CTPais" class="control-label"></label>
                    <input asp-for="CTPais" class="form-control" />
                    <span asp-validation-for="CTPais" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="CTEndereco" class="control-label"></label>
                    <input asp-for="CTEndereco" class="form-control" />
                    <span asp-validation-for="CTEndereco" class="text-danger"></span>

                    <br /><br />
                    <br />

                    <label asp-for="PComments" class="control-label"></label>
                    <input asp-for="PComments" class="form-control" />
                    <span asp-validation-for="PComments" class="text-danger"></span>
                </div>


                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
</form>
        @*</div>
    </div>*@
</section>
<br /><br />


    @*<div>
            <a asp-action="Index">Back to List</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }


