@model EI20_21_ESII_PI_GGLP.Models.PontoDeInteresse

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>PontoDeInteresse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PontoDeInteresseID" />
            <div class="form-group">
                <label asp-for="CategoriaID" class="control-label"></label>
                <select asp-for="CategoriaID" class="form-control" asp-items="ViewBag.CategoriaID"></select>
                <span asp-validation-for="CategoriaID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PImagem" class="control-label"></label>
                <input asp-for="PImagem" class="form-control" />
                <span asp-validation-for="PImagem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PNome" class="control-label"></label>
                <input asp-for="PNome" class="form-control" />
                <span asp-validation-for="PNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDescricao" class="control-label"></label>
                <input asp-for="PDescricao" class="form-control" />
                <span asp-validation-for="PDescricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PEndereco" class="control-label"></label>
                <input asp-for="PEndereco" class="form-control" />
                <span asp-validation-for="PEndereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PCoordenadas" class="control-label"></label>
                <input asp-for="PCoordenadas" class="form-control" />
                <span asp-validation-for="PCoordenadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PContacto" class="control-label"></label>
                <input asp-for="PContacto" class="form-control" />
                <span asp-validation-for="PContacto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PEmail" class="control-label"></label>
                <input asp-for="PEmail" class="form-control" />
                <span asp-validation-for="PEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PNumPessoas" class="control-label"></label>
                <input asp-for="PNumPessoas" class="form-control" />
                <span asp-validation-for="PNumPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PMaxPessoas" class="control-label"></label>
                <input asp-for="PMaxPessoas" class="form-control" />
                <span asp-validation-for="PMaxPessoas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoID" class="control-label"></label>
                <select asp-for="EstadoID" class="form-control" asp-items="ViewBag.EstadoID"></select>
                <span asp-validation-for="EstadoID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PDataEstado" class="control-label"></label>
                <input asp-for="PDataEstado" class="form-control" />
                <span asp-validation-for="PDataEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PComments" class="control-label"></label>
                <input asp-for="PComments" class="form-control" />
                <span asp-validation-for="PComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
